*.fls
*.pdf
*.PDF
*.xdv
*.log
*.aux
*.fdb_latexmk
*.dvi
*.blg
# LaTeX temp files
*-SAVE-ERROR
*.bcf
*.run.xml
*.bbl
*.toc

# Large and binary files
*.mp4
*.gz
*.zip
**/submitted_*.png
**/Screenshot*.png
*/*/*/texts/*
.vscode
**/local/**
*.out
*.txss2

*.?end
*.[0-9]
*.flat
*.ent
*.eledsec1
